@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  /* background-color: rgb(0, 0, 0, 0.85); */
  /* background-image: linear-gradient(#27272a, #111827, #18181b); */
  background: linear-gradient(
      180deg,
      rgba(39, 39, 42, 1) 0%,
      rgba(17, 24, 39, 1) 58%,
      rgba(24, 24, 27, 1) 100%
    )
    no-repeat center/cover fixed;
  height: 100vh;
  margin: 0;
}
/* ::selection {
  color: rgb(139, 139, 72);
} */

@keyframes addDoc {
  0% {
    transform: translateY(100%) translateX(100%) scale(0);
    opacity: 0;
  }
  75% {
    transform: translateY(0%) translateX(0%) scale(1.05);
    opacity: 1;
  }

  100% {
    transform: translateY(0%) translateX(0%) scale(1);
    opacity: 1;
  }
}
@keyframes editDoc {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
